{% include "header.html" %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="font-secondary text-primary mb-4">Welcome to</h1>
                    <h1 class="display-1 text-uppercase text-white mb-4">Dessert Central</h1>
                    <h1 class="text-uppercase text-white">Desserts to make you smile</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Products Start -->
    <div class="container-fluid about py-5">
        {% if error_msg %}
            <h2 style="color:red;text-align:center">An error has occurred.</h2>
            <h5 style="color:red;text-align:center">{{ error_msg }}</h5>
        {% else %}
            <div class="container">
                <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                    <h2 class="text-primary font-secondary">What we offer?</h2>
                    <h1 class="display-4 text-uppercase">Explore Our Products</h1>
                </div>
                <div class="tab-class text-center">
                    <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase border-inner p-4 mb-5">
                        {% for category in active_product_categories %}
                            <li class="nav-item">
                                <a class="nav-link text-white" data-bs-toggle="pill" href="#{{ product_tab_dict[category.name] }}">{{ category.name }}</a>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for category in active_product_categories %}
                            {% if product_tab_dict[category.name] == "tab-1" %}
                                <div id="{{ product_tab_dict[category.name] }}" class="tab-pane fade show p-0 active">
                            {% else %}
                                <div id="{{ product_tab_dict[category.name] }}" class="tab-pane fade show p-0">
                            {% endif %}
                                <div class="row g-3">
                                    {% for product in active_prod_dict[category.name]["records"] %}
                                        <div class="col-lg-6">
                                            <div class="d-flex h-100">
                                                <div class="flex-shrink-0">
                                                    <a href="{{ url_for('view_product', product_id=product.product_id) }}"><img class="img-fluid" src="static/product_images/{{product["product_image"] }}" alt="" style="width: 150px; height: 100px;"></a>
                                                    {% if product["unit_price_discounted"] != None %}
                                                        <h4 class="bg-dark text-primary p-2 m-0"><p style="font-size:14px">Discounted Price</p><a href="{{ url_for('view_product', product_id=product.product_id) }}">{{ '${0:.2f}'.format(product["unit_price_discounted"]) }}</a><p style="font-size:12px">/{{ product["uom"]}}</p></h4>
                                                    {% else %}
                                                        <h4 class="bg-dark text-primary p-2 m-0"><a href="{{ url_for('view_product', product_id=product.product_id) }}">{{ '${0:.2f}'.format(product["unit_price_regular"]) }}</a><p style="font-size:12px">/{{ product["uom"]}}</p><p style="font-size:14px">-</p></h4>
                                                    {% endif %}
                                                    <h4 class="bg-dark text-primary p-2 m-0"><a href="{{ url_for('view_product', product_id=product.product_id) }}">Buy Now</a></h4>
                                                </div>
                                                <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                                    <h5 class="text-uppercase"><a href="{{ url_for('view_product', product_id=product.product_id) }}">{{product["name"]}}</a></h5>
                                                    <span><a href="{{ url_for('view_product', product_id=product.product_id) }}">{{product["description"]}}</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Products End -->

{% include "footer.html" %}